<div>
  <div class="title">{{displayName}}:</div>
  <input class="info" type="color" data-id="input" placeholder="{{placeholder}}" />
</div>

<style type="text/css" media="screen">
  & {
    margin: 20px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #696969;
    line-height: 18px;
    .title {
      margin-bottom: 10px;
    }
    .info {
      cursor: pointer;
      width: 100px;
      height: 30px;
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
</style>