*build/
*.sw[a-z]
*~

node_modules
*.log
.DS_Store
dist/*
webapp/src/script/R.ts
webapp/src/script/R.js
webapp/src/script/R.d.ts
webapp/src/test/private.ts
.emacs.desktop
.emacs.desktop.lock
.dev-init

*.js
*.js.map
!webapp/src/script/raw/*
!webapp/src/debug-init.js
!webapp/src/test/test-init.js
require.json
*.bag
*.bag.ingredient