.layout {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.layout > .layout-content {
  flex: 1;
}
.layout.-has-sider {
  display: flex;
  flex-direction: row;
}
.layout.-has-sider > .layout-sider {
  display: block;
  height: 100%;
  flex-shrink: 0;
}
