<div class="create-list" data-list="createList">
    <template>
        <div class="create-list-item">{{displayText}}</div>
        <style type="text/css" media="screen">
            & {
                font-family: PingFangSC-Regular;
                color: white;
                font-size: 12px;
                height: 40px;
                margin: 15px 0;
                line-height: 40px;
                width: 70px;
                text-align: center;
                cursor: pointer;
            }

            &:hover {
                background: #0091FF;
            }
        </style>
    </template>
</div>